    @font-face {
        font-family:"Comfortaa";
            src: url(/src/fonts/Comfortaa-Regular.ttf);
    } 
    @font-face {
        font-family: "MusticaPro";
        src: url(/src/fonts/MusticaproSemibold.otf);
    }
    @font-face {
        font-family: "NunitoSans";
        src: url(/src/fonts/NunitoSans-Regular.ttf);
    }
    @font-face {
        font-family: "NunitoSans-italic";
        src: url(/src/fonts/NunitoSans-Italic.ttf);
    }
    @font-face {
        font-family: "NunitoSans-sem";
        src: url(/src/fonts/NunitoSans-SemiBold.ttf);
    }
    @font-face {
        font-family: "NunitoSans-sem-italic";
        src: url(/src/fonts/NunitoSans-SemiBoldItalic.ttf);
    }
    *{
        font-family: 'NunitoSans', sans-serif;
        margin: 0;
    }
    html{
        box-sizing: border-box;
        background: url(/src/img/background.png);
    }
    *, *::before, *::after{
        box-sizing: inherit;
    }
    .title-head{
        width: 100%;
        height: 301px;
        background: #FFFFFF;
        position: relative;

    }
    .title-head-2{
        position: absolute;
        bottom: 0%;
        left: 0%;
        top: 0%;
        right: 0%;

        background: #3C64B1;
        opacity: 0.06;
    }
    .title-head-name{
        width: 40%;
        height: 194px;
        left: calc(50% - 40%/2 + 0.5px);
        top: calc(50% - 194px/2 - 33.5px);
        align-items: center;
        display: flex;
        justify-content: center;

        position: absolute;
    }
    #title-text{        
        font-family: 'NunitoSans-sem', sans-serif;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
       

        font-size: 46px;
        line-height: 64px;

        text-align: center;
        align-items: center;
        letter-spacing: 0.1px;

        position: absolute;
        display: flex;
        color: #4F4F4F;
    }
    #title-line-1{
        position: absolute;
        width: 39%;
        height: 0px;
        left: 0px;
        top: 247px;

        border: 1px solid #000000;
    }
    #title-links{
        position: absolute;
        width: 15.5%;
        height: 27px;
        left: 40%;
        top: 235px;
    }
    #title-line-2{
        position: absolute;
        width: 40%;
        height: 0px;
        left: 60%;
        top: 247px;
        
        border: 1px solid #000000;
    }
    #T1{
        position: absolute;
        width: 69px;
        height: 27px;
        left: 5%;


        font-weight: 600;
        font-size: 2.5vh;
        line-height: 1vh;

        display: flex;
        align-items: center;
        letter-spacing: 0.5px;

        color: #373F41;
    }
    #T1:hover{
        color: #3C64B1;
    }
    #T2{
        position: absolute;
        width: 69px;
        height: 27px;
        left: 52.5%;

        font-weight: 600;
        font-size: 2.5vh;
        line-height: 1vh;

        display: flex;
        align-items: center;
        letter-spacing: 0.5px;

        color: #373F41;

    }
    #T2:hover{
        color: #3C64B1;
    }
    #T3{
        position: absolute;
        width: 84px;
        height: 27px;
        left: 100%;


        font-weight: 600;
        font-size: 2.5vh;
        line-height: 1vh;

        display: flex;
        align-items: center;
        letter-spacing: 0.5px;

        color: #373F41;
    }
    #T3:hover{
        color: #3C64B1;
    }
    .main-photo{
        position: absolute;
        height: 600px;
        left: 0px;
        right: 0px;
        top: 301px;
        align-items: center;
        display: flex;
        justify-content: center;

        background: url(/src/img/bmw.jpg) no-repeat;
        background-size: 100% 145%;
    }
    .main-photo-name{
        position: absolute;
        width: 40%;
        height: 246px;
        margin-left: auto;
        margin-right: auto;

        background: #F2F2F2;
        opacity: 0.8;
        border-radius: 10px;
    }
    #photo-name{
        font-family: 'NunitoSans-sem', sans-serif;
        position: absolute;
        height: 246px;
        margin-left: auto;
        margin-right: auto;

        font-size: 6vh;
        line-height: 7vh;

        align-items: center;
        text-align: center;
        letter-spacing: 0.2px;
        display: flex;

        color: #4F4F4F;
        opacity: 0.8;
    }
    .main-btn{
        position: absolute;

        width: 239px;
        height: 69px;
        top:400px;
        align-items: center;
        display: flex;
        text-align: center;
        justify-content: center;
        border-radius: 50px;
        opacity: 0.9;

        
        transition: all 0.6s;
       
    }
    .main-btn::before{
        opacity: 1;
        /* box-shadow: 10px 10px 50px black; */
        
        border-radius: 100px;
        width: 252px;
        height: 80px;
        margin: -20px;
    }
    .main-btn:hover{
        opacity: 1;
        box-shadow: 10px 10px 70px black;
        
        border-radius: 100px;
        width: 252px;
        height: 80px;
        margin: -20px;
        
    }
    
/* 
    .m-btn-dec-bc{
        position: relative;
        width: 100%;
        height: 100%;
        border-radius: 50px;
        background-color: white;
    } */
    .m-btn-bc{
        

        position: relative;

        font-family: 'NunitoSans-sem', sans-serif;
        font-weight: 700;
        font-size: 16px;
        letter-spacing: 4px;
        text-decoration: none;

        align-items: center;
        text-align: center;
        justify-content: center;
        display: flex;

        width: 100%;
        height: 100%;

        border-radius: 50px;
        
        background-color: blue;
        opacity: 0.9;
        padding: 2px;
    }
    A {
        text-decoration: none;
        color: white;
        
    }
    A:visited{
        color: white;
        text-decoration: none;
        background-color: none;

    }
    A:active{
        color: #000000;
        text-decoration: none;
    }
    #m-btn-1::before{
        font-size: 24px;
        letter-spacing: 3px;
        width: 252px;
        height: 80px;
        margin: -20px;
    }
    #m-btn-1:hover{
        font-family: 'NunitoSans-sem', sans-serif;
        font-size: 25px;
        letter-spacing: 2px;
        
        width: 252px;
        height: 80px;
        margin: -20px;
    }
    #m-btn-1{
        transition: all 0.6s;
        /* transition: letter-spacing 0.4s; */
        position: relative;

        font-family: 'NunitoSans-sem', sans-serif;
        font-weight: 700;
        font-size: 16px;
        letter-spacing: 3px;
        text-decoration: none;

        color: white;
        align-items: center;
        text-align: center;
        justify-content: center;
        display: flex;

        /* width: 100%;
        height: 100%; */

        width: 239px;
        height: 69px;

        border-radius: 50px;
        border: none;
        
        background-color: blue;
        opacity: 0.9;
        padding: 2px;
    }
    .modal {
        position: absolute;
        visibility: hidden;
        opacity: 0;
        transition: .3s;
        top: -1000px;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1000;
        background: rgba(0, 0, 0, 0.9);
        
        display: flex;
        justify-content: center;
        align-items: flex-start;
        overflow-y: scroll;
        padding: 60px 15px;
    }
       
    .modal_active {
        position: fixed;
        top: 0;
        visibility: visible;
        opacity: 1;
        transition: .3s;
    }
       
    .modal__content {
        width: 100%;
        max-width: 500px;
        padding: 50px;
        background: #f9f9f9;
        border-radius: 3px;
        position: relative;
        box-shadow: 0 5px 15px black;
    }
       
    .modal__close-button {
        background: #ff0000;
        height: 30px;
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        position: absolute;
        right: 0;
        top: 0;
        background: none;
        cursor: pointer;
        transition: .3s;
        outline: none;
    }
       
    .modal__close-button:hover {
        transition: .3s;
        transform: rotate(180deg);
    }
       
    .modal__title {
        font-size: 1.8rem;
        text-transform: uppercase;
        margin: 0 0 15px;
    }
       
    .modal__description {
        font-size: 1.125rem;
    }
     .ui-form {
        max-width: 350px;
        padding: 20px 30px 30px;
        margin: 50px auto 30px;
     }
     .ui-form h3 {
        position: relative;
        z-index: 5;
        margin: 0 0 60px;
        text-align: center;
        color: #4a90e2;
        font-size: 30px;
        font-weight: normal;
     }
     .form-row {
        position: relative;
        margin-bottom: 40px;
     }
     .form-row input {
        display: block;
        width: 100%;
        padding: 0 10px;
        line-height: 40px;
        font-family: 'Roboto', sans-serif;
        background: none;
        border-width: 0;
        border-bottom: 2px solid #4a90e2;
        transition: all 0.2s ease;
     }
     .form-row label {
        position: absolute;
        left: 13px;
        color: #9d959d;
        font-size: 20px;
        font-weight: 300;
        transform: translateY(-35px);
        transition: all 0.2s ease;
     }
     .form-row input:focus {
        outline: 0;
        border-color: #F77A52;
     }
     .form-row input:focus+label, .form-row input:valid+label {
        transform: translateY(-60px);
        margin-left: -14px;
        font-size: 14px;
        font-weight: 400;
        outline: 0;
        border-color: #F77A52;
        color: #F77A52;
     }
     .ui-form input[type="submit"] {
        width: 100%;
        padding: 0;
        line-height: 42px;
        background: #4a90e2;
        border-width: 0;
        color: white;
        font-size: 20px;
     }
     .ui-form p {
        margin: 0;
        padding-top: 10px;
     }
    .page-inf-1{
        position: absolute;
        width: 100%;
        height: 835px;
        top:901px;

        background-color: rgba(197, 212, 240, 0.3);
    }
    #page-line-1{
        position: absolute;
        width: 100%;
        height: 0%;
        top: 55px;

        border: 1px solid #000000;
    }
    .page-1-photo{
        position: absolute;
        width: 590px;
        height: 360px;
        left: 125px;
        top: 230px;
        border-radius: 10px;

        background: url(/src/img/cars.png) no-repeat ;

        background-size: 100% 100%;
    }
    #page-name{
        position: absolute;
        top: 121px;
        left: 47%;
        width: 468px;
        height: 76px;

        font-family: 'NunitoSans-sem', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 44px;
        line-height: 56px;
  

        text-align: center;
        letter-spacing: 5px;

        color:#000000
        
    }
    #page-1-inf{
        position: absolute;
        width:650px;
        height: 453px;
        left: 43%;
        top:230px;

        
    }
    #zag{
        font-family: 'NunitoSans-sem', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        line-height: 56px;

        letter-spacing: 0.2px;
    }
    #inff{
        font-family: 'NunitoSans-sem', sans-serif;
        font-weight: 600;
        font-size: 24px;
        line-height: 56px;

        letter-spacing: 0.2px;
    }

    #page-line-2{
        position: absolute;
        width: 100%;
        top:780px;

        border: 1px solid #000000;
    }
    .page-2{
        position: absolute;
        width: 100%;
        height: 880px;
        top: 1736px;
        /* background-color: #f0ffff; */
     
    }
    #p2-main{
        font-family: 'NunitoSans-sem', sans-serif;

        text-align: center;
        font-weight: 700;
        font-size: 44px;
        line-height: 56px;
    }
    #p2-inf-d{
        position: absolute;
        width: 50%;
        height: 226px;
        left:25%;
        top: 120px;

        
    }
    #p2-inf{
        font-family: 'NunitoSans-sem', sans-serif;
        font-weight: 600;
        font-size: 24px;
        line-height: 56px;
    }
    #p2-video{
        position: absolute;
        width: 40%;
        height: 340px;
        top:380px;
        left:27%;

        box-shadow: 10px 10px 55px black;
        

    }
    #p2-line{
        position: absolute;
        width: 100%;
        top:825px;

        border: 1px solid #000000;
    }
    .page-3{
        position: absolute;
        width: 100%;
        height: 655px;
        top: 2616px;
        /* background-color: #f0ffff; */

    }
    .p3-all{
        position: relative;
        width: 100%;
        height: 100%;
    }
    .p3-main{
        position: relative;
        width: 100%;
        height: 550px;
        top:45px;
        /* background-color: #f0ffff; */
    }
    .p3-pt{
        width: 20%;
        height: 100%;
        position: relative;
        float:left;
        display: flex;
        
    }
    .p3-pt img{
        position: relative;
        display: flex;
        left: 50%;
        transform: translateX(-50%);
        top:12px;
        width: 250px;
        height: 250px;
        border-radius: 250px;
    }
    .p3-pt-t{
        position: absolute;
        width: 100%;
        height: calc(100% - 280px);
        top: 270px;

   }
   .p3-zag{
       position: relative;
       float: left;
       text-align: center;

       width: 100%;
       height: 25%;
   }
   .p3-inf{
       position: relative;
       float: left;
       text-align: center;
       width: 100%;
       height: 75%;
   }
   .p3-zag p{
        font-family: 'NunitoSans-sem', sans-serif;
        font-weight: 600;
        font-size: 27px;
        line-height: 55px;

        letter-spacing: 1px;
   }
   .p3-inf p{
        font-family: 'NunitoSans-sem', sans-serif;
        font-weight: 500;
        font-size: 2.6vh;
        line-height: 3vh;

        letter-spacing: 2px;
   }
    #p3-zag{
        position: absolute;
        left: calc(50% - 518.61px/2);
        top: -20px;

        font-family: 'NunitoSans-sem', sans-serif;
        font-weight: 700;
        font-size: 35px;
        line-height: 56px;
        text-align: center;

        letter-spacing: 3px;
    }
    #p3-line{
        position: absolute;
        width: 100%;
        top:600px;

        border: 1px solid #000000;
    }
    .page-4{
        position: absolute;
        width: 100%;
        height: 655px;
        top: 3271px;
        /* background-color: #f0ffff; */
    }
    .p4-l{
        position: absolute;
        width: 1108px;
        height: 520px;
        top: 68px;
        left: 320px;

        background: #C5D4F0
    }
    .p4-txt{
        font-family: 'NunitoSans-sem', sans-serif;

    }
    #p4-txt{
        position: absolute;
        height: 100%;
        width: 60%;
        
    }
    #p4-t{
        position: absolute;
        top:115px;
        left: 5%;

        font-family: 'NunitoSans-sem', sans-serif;
        font-weight: 650;
        font-size: 24px;
        line-height: 56px;

        letter-spacing: 3px;

        color: #000000;


    }
    #p4-inf{
        position: absolute;
        width: 40%;
        height: 100%;
        left:60%;
        background-color: #000000;
        display: inline;
        
    }
    .auto1{
        width: 50%;
        height: 50%;
        position: absolute;
        float:left;  
    }
    .auto1 .first-info{
        width: 100%;
        height: 100%;
        position: relative;
        display: block;
    }
    .first-info>img{
        width: 100px;
        height: 100px;
        border-radius: 50px;
        border-spacing: 100px;
    }
    .auto1 .second-info{
        width: 100%;
        height: 100%;
        position: relative;
        display: block;
    }
    .second-info>img{
        width: 100px;
        height: 100px;
        border-radius: 50px;
        border-spacing: 100px;
    }
    .auto2{
        width: 50%;
        height: 100%;
        position: relative;
        float: right;
        display: block;
    }
    .auto2 .third-info{
        width: 100%;
        height: 50%;
        position: relative;
        display: block;
    }
    .third-info>img{
        width: 100px;
        height: 100px;
        border-radius: 50px;
        border-spacing: 100px;
    }
    .auto2 .four-info{
        width: 100%;
        height: 50%;
        position: relative;
        display: block;
    }
    .four-info>img{
        width: 100px;
        height: 100px;
        border-radius: 50px;
        border-spacing: 100px;
    }
    .auto1 img {
        position: relative;
        top:50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .auto2 img{
        position: relative;
        top:50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .auto1 p{
        position: relative;
        top:25%;
        left: 15%;
    }
    .auto2 p{
        position: relative;
        top:25%;
        left: 28%;
    }
    .info-txt{
        position: absolute;
        font-weight: 600;
        font-size: 1.5vh;
        line-height: 2vh;
        top: 150px;
        left: 10px;

        letter-spacing: 2px;
        color: #ffffff;
    }
    #p4-t>li{
        color: #000000;
    }
    #p4-t>li>span{
        font-weight: 400;
        letter-spacing: 1px;
        color: #000000;
    }

    #details{
        position: absolute;
        width: 244px;
        height: 56px;
        left: 124px;

        top: 41px;
        font-weight: 700;
        font-size: 44px;
        line-height: 56px;

        letter-spacing: 5px;

        color: #000000;
    }
    .p5-price-all{
        position: absolute;
        width: 100%;
        height: 800px;
        top: 3926px;
        /* opacity: 0.3; */
        /* background-color: #f0ffff; */
    }
    .main-area-5{
        position: relative;
        height: 100%;
        width: 75%;
        left: 50%;
        transform: translate(-50%);
        /* background-color: red; */
    }
    .p5-m-t{
        position: relative;
        width: 60%;
        height: 150px;
        /* background-color: pink; */
    }
    .p5-m-t p{
        font-family: 'NunitoSans-sem', sans-serif;
        font-weight: 650;
        font-size: 24px;
        line-height: 46px;

        color: #000000;
    }
    .p5-m-t h1{
        font-family: 'NunitoSans-sem', sans-serif;
        letter-spacing: 1px;
    }
    .p5-m-t span{
        color:#3C64B1;
    }
    .p5-line{
        width: 200px;
        border: 4px solid transparent;
        border-bottom: 0;
        border-top-color: #ff3c00;  
    }
    .p5-b{
        position: relative;
        width: 35%;
        height: 645px;
        float: left;
        /* display: block; */
        margin: 5px;
        left: 50%;
        transform: translate(-100%);
        font-family: 'NunitoSans-sem', sans-serif;
        font-size: 20px;
        font-weight: 500;
        background-color: white;
        border: 1px solid rgba(119, 119, 119, 0.9);
    }
    .p5-line-2{
        margin-left: 10px;
        width: 200px;
        border: 4px solid transparent;
        border-bottom: 0;
        border-top-color: #ff3c00;  
    }
    .p5-b p{
        font-family: 'NunitoSans-sem', sans-serif;
        margin-left: 10px;
    }
    .p5-b h1{
        font-family: 'NunitoSans-sem', sans-serif;
        font-size: 35px;
        margin-left: 10px;
    }
    .p5-b span{
        font-family: 'NunitoSans-sem', sans-serif;
    }
    .blue{
        color: #3C64B1;
    }
    .ag-center{
        left: 50%;
        transform: translate(35%);
    }
    .margin-t{
        margin-top:18px;
    }
    .fat-t{
        font-weight: 700;
        font-size: 21px;
    }
    .margin-tt{
        margin-top: 40px;
    }
    .t-standart{
        font-weight: 200;
        font-size: 18px;

    }


    #st{
        font-size: 20px;
        
    }
    .p5-text{
        position: absolute;
        width: 100%;
        height: 800px;
        top: 4726px;
        /* background-color: #f0ffff; */
    }
    .page-5{
        position: absolute;
        width: 100%;
        height: 874px;
        top: 5526px;
    }
    .slider{
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    .middle{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50% );
    }
    .navigation{
        position: absolute;
        bottom: 100px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
    }
    .bar{
        height: 8px;
        width: 30px;
        margin: 6px;
        cursor: pointer;
        background-color: #ddd;
        opacity: 0.7;
        border-radius: 10px;
        transition: all .4s ease;

    }
    .bar:hover{
        opacity: 1;
        transform: scale(1.1);

    }
    input[name="r"] {
        position: absolute;
        visibility: hidden;
    }
    .slides{
        width: 400%;
        height: 100%;
        display: flex;
    }
    .slide{
        width: 25%;
        transition: all .6s ease;
    }
    .slide img{
        width: 100%;
        height: 100%;
    }
    #r1:checked ~ .s1{
        margin-left: 0;
    }
    #r2:checked ~ .s1{
        margin-left: -25%;
    }
    #r3:checked ~ .s1{
        margin-left: -50%;
    }
    #r4:checked ~ .s1{
        margin-left: -75%;
    }

    .p-end{
        position: absolute;
        width: 100%;
        height: 180px;
        top:6326px;

        background: #373F41;
    }
    #t-end{
        position: absolute;
        height: 16px;
        left: 50%;
        top: calc(50% - 16px/2);

        font-family: 'NunitoSans-sem', sans-serif;
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;

        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.2px;

        color: #C3CBCD;
    }

    #p5-text-allin {
        position: absolute;
        height: 60px;
        width: 100%;
        

        font-weight: 1000;
        font-size: 22px;
        line-height: 30px;

        letter-spacing: 3px;
        text-align: left;
        
        display: inline; 
        
    }
    #p5-text-allin p{
        margin-top: 40px;
        left: 46%;
        transform: translate(-100%);
        position: absolute;
        
    }
    #p5-text-allin span{
        font-weight: 1000;
        font-size: 22px;
        line-height: 30px;

        letter-spacing: 2px;
        color:#3C64B1;
    }
    #p5-text-1{
        position: absolute;
        top: 150px;
        height:550px;
        width: 22%;
        left: 15%;
        border: 1px solid #bdbdbd;
        font-weight: 1000;
        font-size: 22px;
        line-height: 30px;

        letter-spacing: 3px;

        align-items: center;
        text-align: center;

        background-color: #f0ffff;

        display: block;
    }
    #p5-text-1 ul{
        font-weight: 700;
        font-size: 16px;
        line-height: 50px;
        text-align: left;
        letter-spacing: 1px;
    }
    #p5-text-2{
        position: absolute;
        top: 150px;
        height: 550px;
        width: 22%;
        left: 39.5%;
        border: 1px solid #bdbdbd;
        font-weight: 1000;
        font-size: 22px;
        line-height: 30px;

        letter-spacing: 3px;

        align-items: center;
        text-align: center;

        background-color: #f0ffff;

        display: block;
    }
    #p5-text-2 ul{
        font-weight: 700;
        font-size: 16px;
        line-height: 50px;
        text-align: left;
        letter-spacing: 1px;
    }
    #p5-text-3{
        position: absolute;
        top: 150px;
        height: 550px;
        width: 22%;
        left: 64%;
        border: 1px solid #bdbdbd;
        font-weight: 1000;
        font-size: 22px;
        line-height: 30px;

        letter-spacing: 3px;

        align-items: center;
        text-align: center;

        background-color: #f0ffff;

        display: block;
    }
    #p5-text-3 ul{
        /* position: relative; */
        font-weight: 700;
        font-size: 16px;
        line-height: 45px;
        text-align: left;
        letter-spacing: 1px;
    }
    .p-5-line-bar{
        display: block;
        content: "";
        position: absolute;
        width: 200px;
        height: 4px;
        left: 5%;
        border: 4px solid transparent;
        border-bottom: 0;
        border-top-color: #ff3c00;
        top: auto;
    }